.flex-column{
    height: 50vh;
}
.suggestion{
    max-height: 40vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.suggestion .item{
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}
.suggestion .item .item-profile{
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    flex: 1;
  }
  .suggestion .item .item-profile img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .suggestion .item .item-content{
      margin-left: 10px;
      margin-right: 10px;
      flex: 1;
      max-height: 50px;
  }
  .suggestion .item .item-content .item-content-description p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* .suggestion::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  .notification::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  } */